@font-face {
    font-family: PressStart2P;
    src: url(../fonts/PressStart2P.ttf);
}

body {
    font-family: PressStart2P;
    background: #444;
    color: #aab;
    letter-spacing: 0.8px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.wrapper {
    margin: auto;
    position: relative;
    bottom: 10%;
}

.content {
    width: 640px;
}

.content>* {
    margin: 10px;
}

header {
    overflow: auto;
    width: 110%;
}

.images>* {
    display: inline;
}

.images #colorBox {
    position: absolute;
    width: 240px;
    border: 2px solid #aab;
}

.images #colorBox #locationImg {
    width: 100%;
    height: 100%;
}

.images #kompas {
    width: 45%;
    position: relative;
    left: 45%;
    top: 20px;
}

.images .direction {
    position: absolute;
    font-size: 0.9em;
}

.images #N {
    top: 53px;
    left: 415px;
}

.images #W {
    top: 95px;
    left: 305px;
}

.images #S {
    top: 173px;
    left: 423px;
}

.images #E {
    top: 94px;
    left: 555px;
}

.text {
    margin-top: 40px;
    /*#cursor{
      height: 1em;
      bottom: 17px;
  }*/
}

.text div {
    margin-top: 8px;
}

.text #cmd {
    margin-top: 50px;
    width: 100%;
    font-size: 1em;
    font-family: inherit;
    color: inherit;
    background: none;
    border: none;
    outline-width: 0;
}

#vocOverlay {
    margin-top: 40px;
}

#vocOverlay #hiddenInput {
    margin-top: 50px;
    width: 100%;
    font-size: 1em;
    font-family: inherit;
    color: inherit;
    background: none;
    border: none;
    outline-width: 0;
}